.catalog {
    &__img {
        background-image: url(../../public/img/Pop.svg);
        height: 20px;
        width: 20px;
    }
        &__img2 {
            background-image: url(../../public/img/Pop2.svg);
            height: 20px;
            width: 20px;
        }
    &__title {
        margin-bottom: 24px;

        h1 {
            font-size: 32px;
            font-weight: 700;
            color: #362c2c;
        }
    }

    &__sortBy {
        background-color: rgba(255, 255, 255, 1);
        cursor: pointer;
        padding: 12px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        width: fit-content;
        align-items: center;
        border-radius: 16px;
        border: 1px solid rgba(228, 231, 238, 1);
        &-text {
            font-size: 14px;
            font-weight: 500;
            padding-right: 8px;
            padding-left: 8px;
        }
    }
    &__button {
        justify-self: end; 
        background-image: url(../../public/img/Close.svg);
        width: 12px;
        height: 12px;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
        margin-top: 4px;
    }
    &__controls {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    &__chip {
        margin-left: 15px;
    }
}

.chip {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #a37d8d; // Твій колір зі скріншоту
    border-radius: 20px;
    background: #f8f6f7;
    color: #6b4d5a;
    font-size: 14px;
    gap: 8px;

    &__close {
        cursor: pointer;
        font-weight: bold;

        &:hover {
            color: #000;
        }
    }
}