.catalog {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 32px; 
        margin-top: 32px;
    }
}

.cocktail-card {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

&__image {
        // Властивості батьківського (сірого) контейнера
        background-color: #D9D9D9;
        margin: 16px;
        border-radius: 16px;
        width: 288px;
        height: 221px;

        // ВАЖЛИВО: щоб картинка не вилазила за border-radius
        overflow: hidden;

        // Властивості самої картинки всередині контейнера
        &-img {
            width: 100%; // Заповнює весь батьківський блок по ширині
            height: 100%; // Заповнює весь батьківський блок по висоті

            // НАЙВАЖЛИВІШЕ: масштабує картинку, зберігаючи пропорції,
            // і обрізає зайве, щоб заповнити весь контейнер
            object-fit: cover;

            // Додаткові властивості
            object-position: center; // Центрує картинку, якщо вона обрізається
            display: block; // Забирає відступ знизу у інлайнових елементів
        }
    }

    &__content {
        padding: 16px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
        color: black;
        text-decoration: none;
    }

    &__ingredients {
        font-size: 14px;
        color: #666;
        margin-bottom: 16px;
        line-height: 1.4;
        flex-grow: 1;
        gap: 8px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: #333;
        border-top: 1px solid #F2F2F2;
        padding-top: 12px;
    }
    &__tag {
        border: 1px solid rgba(245, 247, 250, 1);
        border-radius: 16px;
        padding: 4px 10px;
        margin-left: 8px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        text-decoration: none;
    }
}